body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #ffe4c4;
  color: #2f2f37;
  /* outline: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: contain;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding: 15px;

  flex-grow: 3;
}

/* -------------------------------------------------------------------------- */
/*                                 Form styles                                */
/* -------------------------------------------------------------------------- */

.search-form {
  position: relative;
  /* width: 90px; */
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 5s 3s;
}

/* .search-form:hover,
.search-line:active,
.search-line:target {
  width: 550px;
  transition: width 0.5s;
} */

.search-line {
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 1.1em;
  color: #555;
  background: linear-gradient(to bottom, #f8dab7, #f7cd9b);
}

.search-input {
  height: 25px;
  width: 100%;
  /* padding-left: 0; */
  padding-left: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px #fff;
  transition: padding-left 5s 3s;
}

.search-input:focus-visible {
  border: none;
  outline: none;
}

.search-btn {
  height: 45px;
  min-width: 80px;
  cursor: pointer;
  padding-right: 12px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
    20px 20px 15px rgba(0, 0, 0, 0.1), 30px 30px 15px rgba(0, 0, 0, 0.1),
    inset 0px 1px 2px #fff;
}

.search-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#fff, #fff, #ffefd8);
  z-index: 2;
  filter: blur(1px);
}

.search-form::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 10px;
  height: 100%;
  background: linear-gradient(#a19690, #968b86);
  z-index: 2;
  filter: blur(1px);
}

/* .search-form:hover .search-input,
.search-line:active,
.search-line:target {
  padding-left: 25px;
  transition: padding-left 0.5s;
} */

/* -------------------------------------------------------------------------- */
/*                               Gallery styles                               */
/* -------------------------------------------------------------------------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 5px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 290px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.info {
  display: flex;
  justify-content: space-around;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.info-box:nth-child(1) {
  color: red;
}
.info-box:nth-child(2) {
  color: rgb(50, 103, 250);
}
.info-box:nth-child(3) {
  color: rgb(247, 140, 0);
}
.info-box:nth-child(4) {
  color: rgb(2, 167, 2);
}
.info-item,
.info-counter {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

/* -------------------------------------------------------------------------- */
/*                           "Load more" btn styles                           */
/* -------------------------------------------------------------------------- */
